code  
data3.txt  
Desktop  
Documents  
Downloads  
font.py  
Music  
nutrient_database  
Pictures  
Public  
symbols.txt  
Templates  
tips  
txt
Videos
.cache/chromium
.emacs~
.xsession-errors
.xsession-errors.old
.Xauthority
.bash_history
.bash_logout
.tags
.ICEauthority
.fehbg
.python_history
.viminfo
